<table class="admin_table">
  <tr>
    <th>&nbsp;</th>
    <th>Title</th>
    <th>URL Tag</th>
    <th>Last Modified</th>
    <th>History</th>
  </tr>

<% @pages.each do |page| %>
  <tr class="admin_table_row <%= cycle('odd', 'even') %>_row" id="page_<%= page.id %>">
    <td><%= link_to "Edit", edit_admin_page_path(page) %>        
        <%= link_to image_tag('admin_icons/delete.png', :alt => 'Destroy', :class => 'destroy'),
                    [:admin, page], :confirm => 'Are you sure?', :method => :delete, :id => "destroy_#{page.id}" %></td>
    <td><%= page.title %></td>
    <td><%= page.url_tag %></td>
    <td><%= page.updated_at.strftime("%d-%B-%Y %I:%M%p") %></td>
    <td><%= link_to image_tag('admin_icons/revert.png'), admin_page_path(page) %> (<%= page.versions.count %>)</td>
  </tr>
<% end %>
</table>
<br />
<%= will_paginate @pages %>
<hr>
<%= link_to "Create a Page", new_admin_page_url %>
